# Ignore Python bytecode files
**/__pycache__/
**/*.py[cod]

# Specific to your project structure
src/pros_yolo/pros_yolo/__pycache__/*

# Ignore the build directory
src/build/
src/install/
src/log/

# Ignore the python virtual environment
venv/